---
title: Welcome to Middleman
---
<div class="reveal">

  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <section>
      <h1>TIY Slide Deck</h1>
      <h3>HTML Presentations Made Easy using Reveal.js</h3>
      <p>
        <small>Reveal.js by <a href="http://hakim.se">Hakim El Hattab</a> /
        TIY theme by Clinton Dreisbach</small>
      </p>
    </section>
    <section data-markdown>
      ## I can do Markdown!

      ```ruby
      string = "tomorrow"
      fixnum = 0
      float  = 0.00
      array  = Array.new
      hash   = {"test" => "test"}
      regexp = /[abc]/

      # This is a comment
      class Person
        attr_accessor :name

        def initialize(attributes = {})
          @name = attributes[:name]
        end

        def self.greet
          "hello"
        end
      end
      ```
    </section>
  </div>
</div>
